.Select {
  margin: 2px;
  border: none;
  border-bottom: 2px solid #dee4eb;
  padding: 5px;
  padding-bottom: 2px;
  position: relative;
  width: 180px;
  height: calc(1em + 5px);
  display: inline-block;
}

.Select .container {
  display: flex;
}

.Select:focus {
  outline: none;
  border-color: #006064;
}

.Select .menu {
  position: absolute;
  top: 38px;
  left: 2px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background: white;
  outline: none;
  z-index: 500;
  max-height: 200px;
  overflow-y: auto;
  /* overflow: hidden; */
  /* border: 1px solid #ccc; */
}

.Select .menu .option {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  user-select: none;
}

.Select .menu .option:focus {
  outline: none;
}

.Select .menu .option:hover {
  background: #009ba1;
  color: white;
}

.Select .menu .selected {
  background: #006064 !important;
  color: white;
}

.Select .label {
  flex-grow: 1;
  font-size: 0.9em;
  vertical-align: baseline;
}

.arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  top: 11px;
  right: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  border-color: #006064;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Select:hover .down {
  border-color: #006064 !important;
}

.down {
  border-color: #dee4eb;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
